html {

/*  -o-filter: brightness(0.5) sepia(0.5);
  -ms-filter: brightness(0.5) sepia(0.5);
  -moz-filter: brightness(0.5) sepia(0.5);*/

  -webkit-filter: contrast(1.4) saturate(1.8) sepia(0.5) ;
  filter: contrast(1.4) saturate(1.8) sepia(0.5) ;
  /*background: orange;*/


}

#displayport {
	height: 60%;
}

.red{
	color:red;
}

.small_width{
	width: 10%;
}

#contentrow{
	height: 100% !important;
}

#content{
  overflow:auto;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  padding: 20px;
}

object{
	width:100%;
	height:100%;
}

.activityIcon {
  position:absolute;
  margin-left:0;
  margin-top:0;
}

.verticalcenter {
  position: relative;
  top: -50%;
  transform: translateY(150%);
}

thead {
    top: 0;
    left: 0;
}

.stacked.icons{
  position: relative;
  right: 2.2em;
}

.stacked.icons > .big.bottom.icon {
  position: absolute;
  font-size: 4em;
}

.stacked.icons > .big.top.right.attached.icon{
    position: absolute;
    left: 1.5em;
    top: 0.2em;
    font-size: 3em;
}

.stacked.icons > .attached.icon{
     text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
         1px 1px 0 #fff;
}

#btnMyJournal {
  position:relative;
  left:1.2em;
  top:0.2em;
}

.circular.huge.icon {
  font-size: 3em;
  padding: 0.25em 0.25em;
  width: 1.5em;
}

#journal, #favoritesContent{
  padding-left: 1.5rem;;
}

.entry {
  cursor:pointer;
}
